footer.footer.pt-90
  .container-fluid
    .row
      .col-lg-3.col-md-12.col-xs-12
        // Single Footer
        .single_footer.widget
          .single_footer_widget_inner
            .footer_logo
              a(href='/products')
                img(src='assets/img/logo/shoponline.png', width='30%', alt='')
            .footer_content
              p VNshop
              p Address: 1 Dai Co Viet, HA NOI.
              p Phone: 0839232255 
              p Email: ducnguyen272727@gmail.com
        // Single Footer
      .col-lg-6.col-md-12.col-xs-12
        .footer_menu_list.d-flex.justify-content-between
          // Single Footer
          .single_footer.widget
            .single_footer_widget_inner
              .footer_title
                h2 Products
              .footer_menu
                ul
                  li
                    a(href='/products')  New products
                  li
                    a(href='/contact')  Contact us
                  if email
                   li 
                    a(href='/user/view')  My account
                  else 
                    li
                      a(href='/signin')  My account
          // Single footer end
          // Single footer start
          .single_footer.widget
            .single_footer_widget_inner
              .footer_title
                h2 Login
              .footer_menu
                ul
                  li
                    a(href='/signin')  Login
                  li
                    a(href='/contact')  Contact us
                  if email
                   li 
                    a(href='/user/view')  My account
                  else 
                    li
                      a(href='/signin')  My account
          // Single Footer end
          // Single footer start
          .single_footer.widget
            .single_footer_widget_inner
              .footer_title
                h2  Your account 
              .footer_menu
                ul
                  li
                    a(href='/signin')  Login
                  li
                    a(href='/contact')  Addresses
                  if email
                   li 
                    a(href='/user/view')  Account
                  else 
                    li
                      a(href='/signin')  Account
          .single_footer.widget
            .single_footer_widget_inner
              .footer_title
                h2  Get in Touch: 
              .footer_social_icon
                a(href='https://www.facebook.com/profile.php?id=100010467486603')
                  i.fa.fa-facebook
                a(href='https://www.youtube.com/channel/UCGCHDrvyhrmyz6ah_TO6GVA?view_as=subscriber')
                  i.fa.fa-youtube
  .copyright
    .container-fluid
      .row
        .col-lg-6.col-md-6.col-xs-12
          .copyright_text
            p Copyright 2018 @VDN
          a(href='/admin/signin') Admin
        .col-lg-6.col-md-6.col-xs-12
          .footer_mastercard.text-right
            a(href='#')
              img(src='assets/img/brand/payment.png', alt='')
  // all js here
  script(src='assets/js/vendor/jquery-1.12.0.min.js')
  script(src='assets/js/popper.js')
  script(src='assets/js/bootstrap.min.js')
  script(src='assets/js/jquery-ui.js')
  script(src='assets/js/isotope.pkgd.min.js')
  script(src='assets/js/imagesloaded.pkgd.min.js')
  script(src='assets/js/jquery.counterup.min.js')
  script(src='assets/js/waypoints.min.js')
  script(src='assets/js/ajax-mail.js')
  script(src='assets/js/owl.carousel.min.js')
  script(src='assets/js/plugins.js')
  script(src='assets/js/main.js')
