doctype html
head
  meta(charset='utf-8')
  meta(http-equiv='x-ua-compatible', content='ie=edge')
  title Shopping
  meta(name='description', content='')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  // Favicon
  link(rel='shortcut icon', type='image/x-icon', href='assets/img/logo/logo12.png')
  // all css here
  link(rel='stylesheet', href='assets/css/bootstrap.min.css')
  link(rel='stylesheet', href='assets/css/animate.css')
  link(rel='stylesheet', href='assets/css/owl.carousel.min.css')
  link(rel='stylesheet', href='assets/css/jquery-ui.css')
  link(rel='stylesheet', href='assets/css/chosen.min.css')
  link(rel='stylesheet', href='assets/css/ionicons.min.css')
  link(rel='stylesheet', href='assets/css/font-awesome.min.css')
  link(rel='stylesheet', href='assets/css/material-design-iconic-font.min.css')
  link(rel='stylesheet', href='assets/css/meanmenu.min.css')
  link(rel='stylesheet', href='assets/css/bundle.css')
  link(rel='stylesheet', href='assets/css/style.css')
  link(rel='stylesheet', href='assets/css/responsive.css')
  script(src='assets/js/vendor/modernizr-2.8.3.min.js')
// Add your site or application content here
// organicfood wrapper start
.organic_food_wrapper
  // Header start
  header.header.sticky-header(style="background-color: #F0FFFF;")
    .container-fluid
      .row
        .col-12
          .header_wrapper_inner
            .logo.col-xs-12
              a(href='/admin/orders')
                img(src='assets/img/logo/shoponline.png', width='20%' alt='')
              p &nbsp; ADMIN 
            .main_menu_inner
              .menu
                nav
                  ul
                    li
                      a(href='/admin/products') PRODUCTS
                    li.active
                      a(href='/admin/orders') ORDERS[ #{numberOfOrders} ] 
                    li
                      a(href='/admin/users') USERS
                    li
                      a(href='/admin/carousels') CAROUSELS
                    li 
                      a(href='/admin/logout') LOGOUT
              .mobile-menu.d-lg-none
                nav
                  ul
                    li
                      a(href='/admin/products') PRODUCTS
                    li.active
                      a(href='/admin/orders') ORDERS[ #{numberOfOrders} ] 
                    li
                      a(href='/admin/users') USERS
                    li
                      a(href='/admin/carousels') CAROUSELS
                    li 
                      a(href='/admin/logout') LOGOUT
  // Header end
  block content