extends ../layout/header.pug
block content
  // breadcrumb area start
  .breadcrumb_container
    .container-fluid
      .row
        .col-12
          nav
            ul
              li
                a(href='/') Home
                |  &gt;
              li changepassword
  // Start Maincontent
  section.main-content-area.my-account.ptb-100
    .container
      .account-dashboard
        .row
          .col-sm-12.col-md-3.col-lg-3
            // Nav tabs
            ul.nav.flex-column.dashboard-list(role='tablist')
              li
                a.nav-link.active(href='#myaccount', data-toggle='tab') My Account
          .col-sm-12.col-md-9.col-lg-9
            .tab-content.myaccount-content
              #myaccount.tab-pane.fade.show.active
                h3 Change Password
                h5 Email: #{email}
                if errors
                  each error in errors
                    .alert.alert-danger= error
                form#form(action="/user/changepassword", method="POST")
                  .form-group
                    label(for="password") Password Cũ
                    input#password.form-control(type="password" name="oldPassword" value= values ? values.password : '')
                  .form-group
                    label(for="phone") New Password
                    input#phone.form-control(type="password" name="newPassword" value= values ? values.newPassword : '')
                  .form-group
                    label(for="phone") Nhập lại Password
                    input#phone.form-control(type="password" name="xacnhanPassword" value= values ? values.xacnhanPassword : '')
                  button(class="btn btn-success ml-6") Change 
  // End Maincontent
  .footer_food_wrapper
    // footer start
    include ../layout/footer.pug