extends ../layout/header.pug
block content
  .container
    .row
      .col-12
        br 
        h1
          span.mt-100.mr-10 Edit Product: #{product.name}
        hr.soft
        form#form(action="/admin/products/edit/"+product.id, method="POST", enctype="multipart/form-data")
          .form-group
            label#idProduct(name='id', value= product.id) ID #{product.id}
          .form-group
            label(for="name") Name
            input#name.form-control(type="text" name="name" value= product.name ? product.name : '')
          .form-group
            label(for="price") Price
            input#price.form-control(type="number" name="price" value= product.price ? product.price : '')
          .form-group
            label.control-label(for='category') Category
            select#state(name='category') 
              if product.category===1
                option(value='1') Áo Nam
                option(value='2') Quần Nam
              else if product.category===2
                option(value='2') Quần Nam
                option(value='1') Áo Nam
          .form-group
            label(for="supplier") Supplier
            input#supplier.form-control(type="text" name="supplier" value= product.supplier ? product.supplier : '')
          .form-group
            label(for="desc") Description
            input#desc.form-control(type="text" name='desc' value= product.description ? product.description : '')
          .form-group
            label(for="image") Image
            br 
            img( src = product.img , width = "200", height="200" name='image' value= product.img ? product.img : '')
            input#image.form-control-file(type="file" name="image" )
          button(class="btn btn-primary ml-4") Update
  // Footer ==========================================================
  include ../layout/footer.pug